<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Liste des tableau</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css"/>	
	</head>
	<body>
		<h1>Les tableau</h1>
                <a th:href="@{add}" href='formulaireTableau.html'> Ajouter un tableau</a>
                <h3 th:text="${message}">Message de succès ou d'erreur</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Titre</th><!-- comment -->
                            <th>Support</th>
                            <th>Dimension</th>
                            <th>Artiste</th>
                            <th>Suppression</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="t:${tableaux}">
                            <td th:text="${t.titre}">Titre du tableau</td>
                            <td th:text="${t.support}">Support du tableau</td>
                            <td th:text="${t.dimension}">Dimension du tableau</td>
                            <td th:if="${t.auteur}" th:text="${t.auteur.getNom()}">Artiste</td>
                            <td th:if="!${t.auteur}"></td>
                            <td><a th:href="@{delete(id=${t.id})}">Supprimer le tableau</a></td>
                            
                        </tr>
                    </tbody>
                </table>
                <hr/>
		<a th:href="@{/}" href="../static/index.html">Retour au menu</a>
		<hr/>
        </body>
</html>